/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal .backbox {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding:5px;
    margin:5px 0;
}

.reveal .slides {
  height: 100%;
}

.reveal .slides>section {
  min-height: 90%;
}

.reveal .slides>section>section {
  min-height: 100%;
}

.reveal .footnote {
    font-size:0.5em;
    color:#AAA;text-align:left;padding-left:1em;padding-right:1em;
}

.plot {
    width:  900px;
    height: 450px;
    margin: 0 auto;
}

.reveal form {
    margin-left:1em;
    margin-right:1em;
}

:root {
    --r-main-font-size: 30px;
}

.reveal .attribution {
    font-size:0.5em;
    position:absolute;
    bottom:0;
    right:0;
    display:inline-block;
}
