/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal .backbox {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding:5px;
    margin:5px 0;
}

.reveal p, .reveal h1, .reveal h2, .reveal h3, .reveal .footnote, .reveal table {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.reveal .slides {
  height: 100%;
}

.reveal .slides>section {
  min-height: 90%;
}

.reveal .slides>section>section {
  min-height: 100%;
}

.reveal .footnote {
    font-size:0.5em;
    text-align:left;padding-left:1em;padding-right:1em;
}

.plot {
    width:  900px;
    height: 425px;
    margin: 0 auto;
}

.reveal form {
    margin-left:1em;
    margin-right:1em;
}

:root {
    --r-main-font-size: 30px;
}

.reveal .attribution {
    font-size:0.5em;
    text-align:right;
}

.MathJax_CHTML {
    font-size: 90% !important;
}

.reveal th, .reveal td {
    border-right: 1px solid #eeeeef;
}

.reveal th:last-child, .reveal td:last-child {
    border-right: none;
}
