body {
    background: white;
} 


.reveal {
    color:black;
}

.reveal object {
    background: rgb(134, 0, 56); /* University Approved background red */
    border-radius:15px;
    padding:15px;
}

#PrintButton {
    display: none;
}

.reveal .backbox {
    background:none;
    border:1px solid black;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color:black;
}

.reveal pre code {
    font-size:50%;
    line-height: initial;
}